{% extends "base.html" %}
<!-- Подключаем библиотеку django_bootstrap5. -->
{% load django_bootstrap5 %}

{% block content %}
  <form>
    <!-- Выводим поля формы с помощью специального тега. -->
    {% bootstrap_form form %}
    <!-- Добавляем кнопку отправки данных. -->
    {% bootstrap_button button_type="submit" content="Отправить" %}
  </form>
  {% with data=request.GET %}
    {% if form.is_valid %}
      <h2>Привет, {{ data.first_name }} {{ data.last_name }}</h2>
      <!-- Если до дня рождения 0 дней... -->
      {% if birthday_countdown == 0 %}
        <!-- ...выводим поздравление: -->
        С днём рождения!
      <!-- Если до дня рождения не ноль дней... -->
      {% else %}
        <!-- ...сообщаем, сколько осталось ждать: -->
        Осталось дней до дня рождения: {{ birthday_countdown }}!
      {% endif %}
    {% endif %}
  {% endwith %} 
{% endblock %}