{% extends "base.html" %}

{% block content %}
  <form>
    {{ form.as_p }}
    <input type="submit" value="Submit">
  </form>
  <!-- Присваиваем переменной data объект request.GET -->
  {% with data=request.GET %}
    <!-- В дальнейшем используем имя data вместо request.GET -->
    {% if data %}
      <h2>Привет, {{ data.first_name }} {{ data.last_name }}</h2>
    {% endif %}
  <!-- Когда заканчивается область шаблона, где нужна переменная, 
    закрываем тег with -->
  {% endwith %}
{% endblock %}